*, *::before, *::after {
    box-sizing: border-box;
}

@font-face {
        font-family: Inter;
        src: url(https://github.com/rsms/inter/blob/master/docs/font-files/Inter-Regular.woff2);
}


body {
    background-color: #F4F5FB;
    font-family: Inter;
    margin: 3% 20% 0 20%;
}

#back-button {
    color: #CA3884;
    border: 0;
    background-color: transparent;  
    font-size: 14pt;
    font-weight: 600;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

h1 {
    font-size: 24pt;
    line-height: 32px;
}

.div {
    display: flex;
    justify-content: center;
}

.item-list-div {
    padding-top: 3%;
    flex-direction: column;
    gap: 10px;
}


#input-item {
    color: #9CA3AF;
    border-radius: 12px;
    border: 2px solid #D1D5DB;
    width: 100%;
    line-height: 24px;
    padding-left: 2%;
}

#submit-button {
    background-color: #CA3884;
    color: #FFFFFF;
    border-radius: 12px;
    margin-left: 5%;
    border: none;
    line-height: 24px;
    height: 35px;
    width: 20%;
    font-size: 14pt;
}

#remove-button {
    background-image: url('trash_bin.png');
  background-size: cover;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  vertical-align: middle;
  margin-right:15px;
  margin-left: auto;
}

.item-div {
    background-color: #FFFFFF;
    color: #374151;
    border-radius: 12px;
    border: none;
    line-height: 49px;
    height: 49px;
    width: 100%;
    font-size: 12pt;
    padding-left: 2%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.item-checkbox {
    accent-color: #D1D5DB;
}




@media only screen and (max-width: 600px) {
    
    body {
        margin: 20% 7% 0 7%;
    }

    header {
        display: none;
    }

    .div {
        flex-direction: column;
        gap: 10px;
    }

    #submit-button {
        margin-left: 0;
        width: 100%;
    }

    .item-div {
        padding-left: 6%;
    }


}
